Repository MicrosoftDocs/microsoft-365-community, pull requests merged in 2023-11, with the labels that each got.

#861 Update basic-security-set-up-for-microsoft-365.md
  Community/basic-security-set-up-for-microsoft-365.md
Labels: Microsoft submitter

#860 recreating PR from 2 weeks ago
  .openpublishing.redirection.json
Labels: Microsoft submitter

#863 Update microsoft365-maturity-model--communication.md
  Community/microsoft365-maturity-model--communication.md
Labels: Microsoft submitter, o365-solutions/svc

#864 Update microsoft365-maturity-model--collaboration.md
  Community/microsoft365-maturity-model--collaboration.md
Labels: Microsoft submitter, microsoft-365/svc

#865 Update microsoft365-maturity-model--management-of-content.md
  Community/microsoft365-maturity-model--management-of-content.md
Labels: Microsoft submitter, microsoft-365/svc

#866 Update microsoft365-maturity-model--how-to-elevate-collaboration.md
  Community/microsoft365-maturity-model--how-to-elevate-collaboration.md
Labels: Microsoft submitter, microsoft-365/svc

#862 weekly live
  .openpublishing.redirection.json
  Community/basic-security-set-up-for-microsoft-365.md
  Community/microsoft365-maturity-model--collaboration.md
  Community/microsoft365-maturity-model--communication.md
  Community/microsoft365-maturity-model--how-to-elevate-collaboration.md
  Community/microsoft365-maturity-model--management-of-content.md
Labels: Microsoft submitter, microsoft-365/svc, o365-solutions/svc
