Repository MicrosoftDocs/microsoft-365-community, pull requests merged in 2023-12, with the labels that each got.

#867 Changed Yammer to Viva Engage
  Community/document-lifecycle-scenarios.md
  Community/glossary.md
  Community/how-to-share-org-wide-communications-in-microsoft-365.md
  Community/information-architecture-site-topology.md
  Community/intranet-content-sources.md
  Community/microsoft-365-on-social-media.md
  Community/microsoft-maturity-model-how-to-people-communities.md
  Community/microsoft365-maturity-model--collaboration.md
  Community/microsoft365-maturity-model--communication.md
  Community/microsoft365-maturity-model--how-to-elevate-communication.md
  Community/microsoft365-maturity-model--people-and-communities-competency.md
  Community/using-shared-channels-for-internal-collaboration.md
Labels: microsoft-365/svc, o365-solutions/svc, sharepoint-online/svc

#868 weekly live
  Community/document-lifecycle-scenarios.md
  Community/glossary.md
  Community/how-to-share-org-wide-communications-in-microsoft-365.md
  Community/information-architecture-site-topology.md
  Community/intranet-content-sources.md
  Community/microsoft-365-on-social-media.md
  Community/microsoft-maturity-model-how-to-people-communities.md
  Community/microsoft365-maturity-model--collaboration.md
  Community/microsoft365-maturity-model--communication.md
  Community/microsoft365-maturity-model--how-to-elevate-communication.md
  Community/microsoft365-maturity-model--people-and-communities-competency.md
  Community/using-shared-channels-for-internal-collaboration.md
Labels: Microsoft submitter, microsoft-365/svc, o365-solutions/svc, sharepoint-online/svc

#871 Updated for Copilot
  Community/microsoft365-maturity-model--cognitive-business.md
Labels: microsoft-365/svc, In review, Sign off

#872 Updated CHANGELOG for December / Added MVP to Simon Doy
  CHANGELOG.md
  Community/includes/mm4m365-core-team.md
  Community/microsoft365-maturity-model--business-process.md
  Community/microsoft365-maturity-model--collaboration.md
  Community/microsoft365-maturity-model--communication.md
  Community/microsoft365-maturity-model--customization-and-development.md
  Community/microsoft365-maturity-model--how-to-elevate-collaboration.md
  Community/microsoft365-maturity-model--how-to-elevate-communication.md
  Community/microsoft365-maturity-model--intro.md
  Community/microsoft365-maturity-model--management-of-content.md
  Community/microsoft365-maturity-model--people-and-communities-competency.md
  Community/microsoft365-maturity-model--search.md
  Community/microsoft365-maturity-model--staff-and-training.md
  Community/principles-of-search.md
Labels: microsoft-365/svc, o365-solutions/svc, In review, Sign off, mssearch/svc

#873 Publish main to live on 12/19 @ 10:30 am
  CHANGELOG.md
  Community/includes/mm4m365-core-team.md
  Community/microsoft365-maturity-model--business-process.md
  Community/microsoft365-maturity-model--cognitive-business.md
  Community/microsoft365-maturity-model--collaboration.md
  Community/microsoft365-maturity-model--communication.md
  Community/microsoft365-maturity-model--customization-and-development.md
  Community/microsoft365-maturity-model--how-to-elevate-collaboration.md
  Community/microsoft365-maturity-model--how-to-elevate-communication.md
  Community/microsoft365-maturity-model--intro.md
  Community/microsoft365-maturity-model--management-of-content.md
  Community/microsoft365-maturity-model--people-and-communities-competency.md
  Community/microsoft365-maturity-model--search.md
  Community/microsoft365-maturity-model--staff-and-training.md
  Community/principles-of-search.md
Labels: Microsoft submitter, microsoft-365/svc, o365-solutions/svc, mssearch/svc
