Repository MicrosoftDocs/microsoft-365-community, pull requests merged in 2024-08, with the labels that each got.

#968 global admin removal for basic-security-set-up-for-microsoft-365.md
  Community/basic-security-set-up-for-microsoft-365.md
Labels: Microsoft submitter, In review, Sign off

#969 Publish main to live 08/09/2024, 3:30 PM
  Community/basic-security-set-up-for-microsoft-365.md
Labels: Microsoft submitter, security/svc

#972 Merging workflows to main
  .github/workflows/AutoLabelAssign.yml
  .github/workflows/AutoLabelMsftContributor.yml
  .github/workflows/BackgroundTasks.yml
  .github/workflows/LiveMergeCheck.yml
  .github/workflows/PrFileCount.yml
  .github/workflows/ProtectedFiles.yml
Labels: Microsoft submitter

#973 merge to live
  .github/workflows/AutoLabelAssign.yml
  .github/workflows/AutoLabelMsftContributor.yml
  .github/workflows/BackgroundTasks.yml
  .github/workflows/LiveMergeCheck.yml
  .github/workflows/PrFileCount.yml
  .github/workflows/ProtectedFiles.yml
Labels: Microsoft submitter

#974 Remove unreferenced media files
  Community/media/managing-external-guest-in-SharePoint-vs-Teams/guest06.png
  Community/media/maturity-model-for-microsoft-365/M365MMSquare.png
  Community/media/maturity-model-for-microsoft-365/SPMMSquare.png
  Community/media/microsoft-365-community/M365Community1-600px.png
  Community/media/microsoft-365-community/M365Community1.png
  Community/media/microsoft-365-community/M365Community2.png
  Community/media/microsoft-365-community/M365CommunitySquare.png
  Community/media/microsoft365-maturity-model--communication/Microsoft365MaturityModel-Communication.png
  Community/media/microsoft365-maturity-model--infrastructure/231325826-fc4da0c4-0b97-4673-a9ef-f7df3e1a959b.png
  Community/media/microsoft365-maturity-model--intro/collaboration-high-level-2014.jpg
  Community/media/power-automate-vs-logic-apps/azure-logic-app-example-error-checking.png
  Community/media/power-automate-vs-logic-apps/power-automate-example-error-checking.png
  Community/media/repo-docs/create-new-folder.png
  Community/media/repo-docs/parker-docs.jpg
  Community/media/repo-docs/pnp-community-docs.jpg
  Community/media/select-an-effective-navigation-strategy/CommunicationChangeTheLookOptions.png
  Community/media/select-an-effective-navigation-strategy/CommunicationEditingNavLinkOptions.png
  Community/media/select-an-effective-navigation-strategy/CommunicationHeaderOptions.png
  Community/media/select-an-effective-navigation-strategy/CommunicationHubJoined01.png
  Community/media/select-an-effective-navigation-strategy/CommunicationHubJoined02.png
  Community/media/select-an-effective-navigation-strategy/HubSite.png
  Community/media/select-an-effective-navigation-strategy/HubSiteChangeTheLookOptions.png
  Community/media/select-an-effective-navigation-strategy/HubSiteHeaderCompactCascadingNav.png
  Community/media/select-an-effective-navigation-strategy/HubSiteHeaderCompactMegaMenuNav.png
  Community/media/select-an-effective-navigation-strategy/HubSiteHeaderOptions.png
  Community/media/select-an-effective-navigation-strategy/HubSiteHeaderStandardCascadingNav.png
  Community/media/select-an-effective-navigation-strategy/HubSiteHeaderStandardMegaMenuNav.png
  Community/media/select-an-effective-navigation-strategy/HubSiteNavigationOptions.png
  Community/media/select-an-effective-navigation-strategy/HubSiteSettings.png
  Community/media/select-an-effective-navigation-strategy/TeamChangeTheLookOptions.png
  Community/media/select-an-effective-navigation-strategy/TeamEditingNavLinkOptions.png
  Community/media/select-an-effective-navigation-strategy/TeamHubJoined.png
  Community/media/should-everyone-create-teams/LuiseFreese-LowCodeTeamsProvisioning-SP-List-columns.png
  Community/media/should-everyone-create-teams/LuiseFreese-LowCodeTeamsProvisioning-solution-overview.png
  Community/media/working-with-modern-clientside-pages-using-pnp-powershell/pnp01.png
Labels: Microsoft submitter

#975 merge to live
  Community/media/managing-external-guest-in-SharePoint-vs-Teams/guest06.png
  Community/media/maturity-model-for-microsoft-365/M365MMSquare.png
  Community/media/maturity-model-for-microsoft-365/SPMMSquare.png
  Community/media/microsoft-365-community/M365Community1-600px.png
  Community/media/microsoft-365-community/M365Community1.png
  Community/media/microsoft-365-community/M365Community2.png
  Community/media/microsoft-365-community/M365CommunitySquare.png
  Community/media/microsoft365-maturity-model--communication/Microsoft365MaturityModel-Communication.png
  Community/media/microsoft365-maturity-model--infrastructure/231325826-fc4da0c4-0b97-4673-a9ef-f7df3e1a959b.png
  Community/media/microsoft365-maturity-model--intro/collaboration-high-level-2014.jpg
  Community/media/power-automate-vs-logic-apps/azure-logic-app-example-error-checking.png
  Community/media/power-automate-vs-logic-apps/power-automate-example-error-checking.png
  Community/media/repo-docs/create-new-folder.png
  Community/media/repo-docs/parker-docs.jpg
  Community/media/repo-docs/pnp-community-docs.jpg
  Community/media/select-an-effective-navigation-strategy/CommunicationChangeTheLookOptions.png
  Community/media/select-an-effective-navigation-strategy/CommunicationEditingNavLinkOptions.png
  Community/media/select-an-effective-navigation-strategy/CommunicationHeaderOptions.png
  Community/media/select-an-effective-navigation-strategy/CommunicationHubJoined01.png
  Community/media/select-an-effective-navigation-strategy/CommunicationHubJoined02.png
  Community/media/select-an-effective-navigation-strategy/HubSite.png
  Community/media/select-an-effective-navigation-strategy/HubSiteChangeTheLookOptions.png
  Community/media/select-an-effective-navigation-strategy/HubSiteHeaderCompactCascadingNav.png
  Community/media/select-an-effective-navigation-strategy/HubSiteHeaderCompactMegaMenuNav.png
  Community/media/select-an-effective-navigation-strategy/HubSiteHeaderOptions.png
  Community/media/select-an-effective-navigation-strategy/HubSiteHeaderStandardCascadingNav.png
  Community/media/select-an-effective-navigation-strategy/HubSiteHeaderStandardMegaMenuNav.png
  Community/media/select-an-effective-navigation-strategy/HubSiteNavigationOptions.png
  Community/media/select-an-effective-navigation-strategy/HubSiteSettings.png
  Community/media/select-an-effective-navigation-strategy/TeamChangeTheLookOptions.png
  Community/media/select-an-effective-navigation-strategy/TeamEditingNavLinkOptions.png
  Community/media/select-an-effective-navigation-strategy/TeamHubJoined.png
  Community/media/should-everyone-create-teams/LuiseFreese-LowCodeTeamsProvisioning-SP-List-columns.png
  Community/media/should-everyone-create-teams/LuiseFreese-LowCodeTeamsProvisioning-solution-overview.png
  Community/media/working-with-modern-clientside-pages-using-pnp-powershell/pnp01.png
Labels: Microsoft submitter
