Repository MicrosoftDocs/microsoft-365-community, pull requests merged in 2024-07, with the labels that each got.

#962 Update power-automate-vs-logic-apps.md
  Community/power-automate-vs-logic-apps.md
Labels: In review, Sign off, power-platform/svc

#959 Update microsoft365-maturity-model--management-of-content.md
  Community/microsoft365-maturity-model--management-of-content.md
Labels: microsoft-365/svc, In review, Sign off

#963 Updated CHANGELOG for July
  CHANGELOG.md
Labels: Sign off

#965 Update sharepoint-security-a-team-effort.md
  Community/sharepoint-security-a-team-effort.md
Labels: Microsoft submitter, sharepoint-online/svc, In review, Sign off

#966 Publish main to live, Thursday 3:30PM PDT, 07/25
  Community/sharepoint-security-a-team-effort.md
Labels: sharepoint-online/svc
