Repository MicrosoftDocs/microsoft-365-community, pull requests merged in 2024-09, with the labels that each got.

#971 Update sharepoint-naming-guidelines.md
  Community/sharepoint-naming-guidelines.md
Labels: sharepoint-online/svc, In review, Sign off

#977 Catching up with PRs and updated CHANGELOG
  CHANGELOG.md
  Community/includes/mm4m365-core-team.md
  Community/includes/mm4m365-practitioners.md
Labels: In review, Sign off

#978 publish main to live 10:30 AM 9/11/24
  CHANGELOG.md
  Community/includes/mm4m365-core-team.md
  Community/includes/mm4m365-practitioners.md
  Community/sharepoint-naming-guidelines.md
  Community/sharepoint-security-a-team-effort.md
Labels: Microsoft submitter, sharepoint-online/svc
