Repository MicrosoftDocs/microsoft-365-community, pull requests merged in 2024-04, with the labels that each got.

#918 Update principles-of-communication.md
  Community/principles-of-communication.md
Labels: microsoft-365/svc, In review, Sign off

#919 Update principles-of-communication.md
  Community/principles-of-communication.md
Labels: microsoft-365/svc, In review, Sign off

#921 Publish main to live 04/15/2024, 3:30 PM PDT
  Community/principles-of-communication.md
Labels: Microsoft submitter, microsoft-365/svc

#920 Update should-I-store-my-files-in-Teams-or-SharePoint-An-understandin…
  Community/should-I-store-my-files-in-Teams-or-SharePoint-An-understanding-of-behind-the-scenes.md
Labels: Sign off, msteams/svc

#922 Update large-lists-large-libraries-in-SharePoint.md
  Community/large-lists-large-libraries-in-SharePoint.md
Labels: sharepoint-online/svc, In review, Sign off

#923 publish main to live 10:30 AM 4/16/24
  Community/large-lists-large-libraries-in-SharePoint.md
  Community/should-I-store-my-files-in-Teams-or-SharePoint-An-understanding-of-behind-the-scenes.md
Labels: Microsoft submitter, sharepoint-online/svc, msteams/svc

#925 Update microsoft365-maturity-model--intro.md
  Community/microsoft365-maturity-model--intro.md
Labels: microsoft-365/svc, In review, Sign off

#926 Updates to CHANGELOG, reviewed Versioning in SharePoint
  CHANGELOG.md
  Community/versioning-basics-best-practices.md
Labels: sharepoint-online/svc, In review, Sign off

#927 Publish main to live 04/19/2024, 3:30 PM
  CHANGELOG.md
  Community/microsoft365-maturity-model--intro.md
  Community/versioning-basics-best-practices.md
Labels: Microsoft submitter, microsoft-365/svc, sharepoint-online/svc

#932 Various fixes for #930
  Community/glossary.md
  Community/how-to-share-org-wide-communications-in-microsoft-365.md
  Community/known-folder-move-benefits-for-enduser.md
  Community/maturity-model-microsoft365-servicing-microsoft365-service-change-management.md
  Community/microsoft-maturity-model-how-to-people-communities.md
  Community/principles-of-search.md
  Community/sharepoint-security-a-team-effort.md
  Community/what-is-content-type.md
Labels: microsoft-365/svc, sharepoint-online/svc, In review, Sign off, mssearch/svc, one-drive/svc

#933 Publish main to live 04/29/2024, 3:30 PM
  Community/glossary.md
  Community/how-to-share-org-wide-communications-in-microsoft-365.md
  Community/known-folder-move-benefits-for-enduser.md
  Community/maturity-model-microsoft365-servicing-microsoft365-service-change-management.md
  Community/microsoft-maturity-model-how-to-people-communities.md
  Community/principles-of-search.md
  Community/sharepoint-security-a-team-effort.md
  Community/what-is-content-type.md
Labels: Microsoft submitter, microsoft-365/svc, sharepoint-online/svc, mssearch/svc, one-drive/svc
