Repository MicrosoftDocs/microsoft-365-community, pull requests merged in 2024-11, with the labels that each got.

#999 Publish main to live, Wednesday 5:00 PM IST, 11/06
  .openpublishing.build.ps1
Labels: Microsoft submitter

#1000 publish main to live, 11/11/24, 3:30 pm PT
  Community/query-string-url-tricks-sharepoint-m365.md
Labels: Microsoft submitter, sharepoint-online/svc

#997 Update microsoft365-maturity-model--communication.md
  Community/microsoft365-maturity-model--communication.md
Labels: o365-solutions/svc, In review, Sign off

#1002 Publish main to live, Tuesday 6:30PM PST, 11/12
  Community/microsoft365-maturity-model--communication.md
Labels: Microsoft submitter, o365-solutions/svc

#1003 Updated to CHANGELOG and Core Team
  CHANGELOG.md
  Community/includes/mm4m365-core-team.md
  Community/microsoft-maturity-model-how-to-people-communities.md
Labels: microsoft-365/svc, In review, Sign off

#994 Update team-site-or-communication-site.md
  Community/team-site-or-communication-site.md
Labels: sharepoint-online/svc, In review, Sign off, PubOps fixes

#1004 Published main to live, Tuesday 10:30 AM PST, 11/19
  CHANGELOG.md
  Community/includes/mm4m365-core-team.md
  Community/microsoft-maturity-model-how-to-people-communities.md
  Community/team-site-or-communication-site.md
Labels: Microsoft submitter, microsoft-365/svc, sharepoint-online/svc
