Repository MicrosoftDocs/microsoft-365-community, pull requests merged in 2024-05, with the labels that each got.

#934 Update sharepoint-security-a-team-effort.md
  Community/sharepoint-security-a-team-effort.md
Labels: sharepoint-online/svc, In review, Sign off

#935 merge main to live 10:30 AM 5/14/24
  Community/sharepoint-security-a-team-effort.md
Labels: Microsoft submitter, sharepoint-online/svc

#937 New Article: Maturity Model for Microsoft 365 - Employee Experience Competency
  CHANGELOG.md
  Community/media/microsoft365-maturity-model--employee-experience/EE Viva diagram.png
  Community/media/microsoft365-maturity-model--employee-experience/EE benefits diagram.png
  Community/media/microsoft365-maturity-model--employee-experience/EE employee lifecycle diagram.png
  Community/media/microsoft365-maturity-model--employee-experience/EE sub-competency diagram.png
  Community/microsoft365-maturity-model--employee-experience.md
Labels: microsoft-365/svc, In review, Sign off

#938 Publish main to live 05/20/2024, 3:30 PM
  CHANGELOG.md
  Community/media/microsoft365-maturity-model--employee-experience/EE Viva diagram.png
  Community/media/microsoft365-maturity-model--employee-experience/EE benefits diagram.png
  Community/media/microsoft365-maturity-model--employee-experience/EE employee lifecycle diagram.png
  Community/media/microsoft365-maturity-model--employee-experience/EE sub-competency diagram.png
  Community/microsoft365-maturity-model--employee-experience.md
Labels: Microsoft submitter, microsoft-365/svc

#939 Added Employee Experience to Navigation
  CHANGELOG.md
  Community/TOC.md
  Community/index_mm4m365.yml
Labels: sharepoint-online/svc, In review, Sign off, subservice/subsvc

#940 merge main to live 10:30 AM 5/21/24
  CHANGELOG.md
  Community/TOC.md
  Community/index_mm4m365.yml
Labels: Microsoft submitter, sharepoint-online/svc, subservice/subsvc

#943 Added Employee Experience to Intro article
  Community/microsoft365-maturity-model--intro.md
  Community/microsoft365-maturity-model-origin-story.md
Labels: microsoft-365/svc, In review, Sign off

#944 Publish main to live, Tuesday 3:30PM PDT, 05/28
  Community/microsoft365-maturity-model--intro.md
  Community/microsoft365-maturity-model-origin-story.md
Labels: Microsoft submitter, microsoft-365/svc

#945 Update known-folder-move-benefits-for-enduser.md
  Community/known-folder-move-benefits-for-enduser.md
Labels: Microsoft submitter, In review, Sign off, one-drive/svc

#946 publish main to live 3:30 PM 5/30/24
  Community/known-folder-move-benefits-for-enduser.md
Labels: Microsoft submitter, one-drive/svc

#941 Update evolution-of-company-wide-email-communication-to-sharepoint-ne…
  Community/evolution-of-company-wide-email-communication-to-sharepoint-news.md
Labels: sharepoint-online/svc, In review, Sign off

#947 Updates to CHANGELOG
  CHANGELOG.md
Labels: In review, Sign off

#942 Adding PnP Controls social media entry
  Community/microsoft-365-on-social-media.md
Labels: microsoft-365/svc, In review, Sign off

#948 Publish main to live, Friday 10:30 AM PDT, 05/31
  CHANGELOG.md
  Community/evolution-of-company-wide-email-communication-to-sharepoint-news.md
  Community/microsoft-365-on-social-media.md
Labels: Microsoft submitter, microsoft-365/svc, sharepoint-online/svc
