Repository MicrosoftDocs/microsoft-365-community, pull requests merged in 2024-10, with the labels that each got.

#980 Update sharepoint-naming-guidelines.md
  Community/sharepoint-naming-guidelines.md
Labels: sharepoint-online/svc, In review, Sign off

#981 Publish main to live, Thursday 10:30 AM IST, 10/03
  Community/sharepoint-naming-guidelines.md
Labels: Microsoft submitter, sharepoint-online/svc

#984 Update microsoft365-maturity-model--cognitive-business.md
  Community/microsoft365-maturity-model--cognitive-business.md
Labels: microsoft-365/svc, In review, Sign off

#985 Publish main to live, Tuesday 3:30PM PDT, 10/22/2024
  Community/microsoft365-maturity-model--cognitive-business.md
Labels: Microsoft submitter, microsoft-365/svc

#983 Update microsoft365-maturity-model--cognitive-business.md
  Community/microsoft365-maturity-model--cognitive-business.md
Labels: microsoft-365/svc, In review, Sign off

#991 Updates to CHANGELOG
  CHANGELOG.md
Labels: In review, Sign off

#990 Update microsoft365-maturity-model--collaboration.md
  Community/microsoft365-maturity-model--collaboration.md
Labels: microsoft-365/svc, In review

#992 Publish main to live, Wednesday 10:30 AM PST, 10/30
  CHANGELOG.md
  Community/index_mm4m365.yml
  Community/microsoft365-maturity-model--collaboration.md
  Community/team-site-or-communication-site.md
Labels: Microsoft submitter, microsoft-365/svc, sharepoint-online/svc, subservice/subsvc

#993 Realign file name to requirement
  .openpublishing.redirection.json
  Community/TOC.yml
  Community/index-mm4m365.yml
  Community/index.yml
Labels: Microsoft submitter, sharepoint-online/svc, In review, Sign off, subservice/subsvc

#996 main to live publish, spooky 10/31/24, 10:30 am
  .openpublishing.redirection.json
  Community/TOC.yml
  Community/index-mm4m365.yml
  Community/index.yml
Labels: Microsoft submitter, sharepoint-online/svc, subservice/subsvc
