Repository MicrosoftDocs/microsoft-365-community, pull requests merged in 2024-01, with the labels that each got.

#877 Update microsoft365-maturity-model--cognitive-business.md Fixing head…
  Community/microsoft365-maturity-model--cognitive-business.md
Labels: microsoft-365/svc, In review, Sign off

#876 Update microsoft365-maturity-model--cognitive-business.md to add RAG …
  Community/microsoft365-maturity-model--cognitive-business.md
Labels: microsoft-365/svc, In review, Sign off

#880 Publish main to live, Tuesday 10:30AM PST, 01/16
  Community/microsoft365-maturity-model--cognitive-business.md
Labels: Microsoft submitter, microsoft-365/svc

#870 Update microsoft365-maturity-model--cognitive-business.md
  Community/microsoft365-maturity-model--cognitive-business.md
Labels: microsoft-365/svc, In review, Sign off

#881 Publish main to live on 1/17 @ 3:30 pm
  Community/microsoft365-maturity-model--cognitive-business.md
Labels: Microsoft submitter, microsoft-365/svc

#878 Change feedback to opensource
  .github/ISSUE_TEMPLATE/customer-feedback.yml
  Community/docfx.json
Labels: Microsoft submitter

#882 Feedback control changes
  .github/ISSUE_TEMPLATE/customer-feedback.yml
  Community/docfx.json
Labels: Microsoft submitter

#883 Update contributor guide url
  Community/docfx.json
Labels: Microsoft submitter

#884 Feedback control update
  Community/docfx.json
Labels: Microsoft submitter

#885 Add feedback product url
  Community/docfx.json
Labels: Microsoft submitter

#886 Fix Open Source feedback syntax
  Community/docfx.json
Labels: Microsoft submitter

#887 Update working-with-cascading-lists-in-sharepoint-and-powerapps.md
  Community/working-with-cascading-lists-in-sharepoint-and-powerapps.md
Labels: sharepoint-online/svc, In review, Sign off

#888 Update microsoft365-maturity-model--cognitive-business.md
  Community/microsoft365-maturity-model--cognitive-business.md
Labels: microsoft-365/svc, In review, Sign off

#891 merge main to live 3:30 PM 1/30/24
  Community/microsoft365-maturity-model--cognitive-business.md
Labels: Microsoft submitter, microsoft-365/svc, Admin review

#889 Updated CHANGELOG for January
  .vscode/settings.json
  CHANGELOG.md
  Community/media/microsoft365-maturity-model-cognitive-business/ai-spectrum.png
  Community/media/microsoft365-maturity-model-cognitive-business/ai-value.jpg
  Community/media/microsoft365-maturity-model-cognitive-business/autopilot-to-copilot.png
  Community/media/microsoft365-maturity-model-cognitive-business/evolution.png
  Community/microsoft365-maturity-model--cognitive-business.md
Labels: microsoft-365/svc, In review, Sign off
