Repository MicrosoftDocs/microsoft-365-community, pull requests merged in 2024-12, with the labels that each got.

#1001 Update microsoft365-maturity-model--governance-and-compliance.md
  Community/microsoft365-maturity-model--governance-and-compliance.md
Labels: microsoft-365/svc, In review, Sign off

#1005 Publish main to live, 12/12/24, 3:30 PM PT
  Community/microsoft365-maturity-model--governance-and-compliance.md
Labels: Microsoft submitter, microsoft-365/svc

#1007 Updated CHANGELOG to capture remaining Oct/Nov
  CHANGELOG.md
Labels: In review, Sign off

#1008 Publish main to live, 12/19/24, 3:30 PM PT
  CHANGELOG.md
Labels: Microsoft submitter
