Repository MicrosoftDocs/microsoft-365-community, pull requests merged in 2025-03, with the labels that each got.

#1033 Added "Maturity Model for Microsoft - Practical Scenario: Enhancing Brand Management" to navigation
  Community/TOC.yml
  Community/index-mm4m365.yml
  Community/maturity-model-microsoft365-ps-enhancing-brand-management.md
Labels: microsoft-365/svc, sharepoint-online/svc, In review, Sign off

#1030 Add platform id to feedback template
  .github/ISSUE_TEMPLATE/customer-feedback.yml
Labels: Microsoft submitter, In review, Sign off

#1034 Published main to live, Monday 5:00 PM IST, 03/10
  .github/ISSUE_TEMPLATE/customer-feedback.yml
  Community/TOC.yml
  Community/index-mm4m365.yml
  Community/maturity-model-microsoft365-ps-enhancing-brand-management.md
Labels: microsoft-365/svc, sharepoint-online/svc
