Repository MicrosoftDocs/microsoft-365-community, pull requests merged in 2025-02, with the labels that each got.

#1012 Updates to CHANGELOG, Mgmt of Content
  CHANGELOG.md
  Community/index-mm4m365.yml
  Community/index.yml
  Community/microsoft365-maturity-model--management-of-content.md
Labels: microsoft-365/svc, sharepoint-online/svc, In review, Sign off

#1013 Publish main to live, 02/03/25, 10:30 AM PT
  CHANGELOG.md
  Community/index-mm4m365.yml
  Community/index.yml
  Community/microsoft365-maturity-model--management-of-content.md
Labels: Microsoft submitter, microsoft-365/svc, sharepoint-online/svc

#1015 Publish main to live, 02/03/25, 3:30 PM PT
  Community/new-site-checklist.md
Labels: Microsoft submitter, sharepoint-online/svc

#1016 Cleaned up recent additions to "Team Site vs. Communication Site: Which one should I choose?"
  CHANGELOG.md
  Community/team-site-or-communication-site.md
Labels: sharepoint-online/svc, In review, Sign off, PubOps fixes

#1017 Published main to live, Tuesday 10:30 AM PST, 02/04
  CHANGELOG.md
  Community/team-site-or-communication-site.md
Labels: Microsoft submitter, sharepoint-online/svc

#1019 Remove Xamarin
  Community/power-automate-vs-logic-apps.md
Labels: Microsoft submitter, In review, Sign off, power-platform/svc

#1021 Published main to live, Tuesday 5:00 PM IST, 02/18
  Community/power-automate-vs-logic-apps.md
Labels: Microsoft submitter, power-platform/svc

#1018 Update microsoft365-maturity-model--infrastructure.md
  Community/microsoft365-maturity-model--infrastructure.md
Labels: o365-solutions/svc, In review, Sign off, PubOps fixes

#1023 Gary fix pr 1006
  Community/where-tenant-display-name-is-used.md
Labels: Microsoft submitter, microsoft-365/svc

#1022 Published main to live, Tuesday 10:30 AM PT, 02/18
  Community/maturity-model-microsoft365-servicing-microsoft365-service-change-management.md
  Community/maturity-model-microsoft365-servicing-microsoft365-service-health-management.md
  Community/microsoft365-maturity-model--infrastructure.md
  Community/where-tenant-display-name-is-used.md
Labels: Microsoft submitter, microsoft-365/svc, o365-solutions/svc

#1027 Adding Sparkles to the Management of Content Competency
  Community/microsoft365-maturity-model--management-of-content.md
Labels: microsoft-365/svc, Sign off

#1024 New article - Maturity Model for Microsoft - Practical Scenario: Enhancing Brand Management
  .openpublishing.redirection.json
  CHANGELOG.md
  Community/TOC.yml
  Community/Yet-another-Tool-Why-you-will-probably-love-Project-Moca-aka-Outlook-Spaces.md
  Community/index-mm4m365.yml
  Community/index.yml
  Community/maturity-model-microsoft365-ps-enhancing-brand-management.md
  Community/maturity-model-microsoft365-servicing-microsoft365-service-change-management.md
  Community/media/maturity-model-microsoft365-ps-enhancing-brand-management/copilot-starter-2024.png
  Community/media/maturity-model-microsoft365-ps-enhancing-brand-management/custom-theme.png
  Community/media/maturity-model-microsoft365-ps-enhancing-brand-management/email-signature.png
  Community/media/maturity-model-microsoft365-ps-enhancing-brand-management/maturity-levels.png
  Community/media/maturity-model-microsoft365-ps-enhancing-brand-management/organization-templates.png
  Community/teams-shared-channel-for-admins.md
  Community/understanding-where-tenant-display-name-is-used.md
Labels: microsoft-365/svc, sharepoint-online/svc, Admin review, In review, Sign off, msteams/svc, outlook/svc

#1028 main to live publish 2/26/25, 3:30 pm
  .openpublishing.redirection.json
  CHANGELOG.md
  Community/TOC.yml
  Community/Yet-another-Tool-Why-you-will-probably-love-Project-Moca-aka-Outlook-Spaces.md
  Community/index-mm4m365.yml
  Community/index.yml
  Community/maturity-model-microsoft365-ps-enhancing-brand-management.md
  Community/maturity-model-microsoft365-servicing-microsoft365-service-change-management.md
  Community/media/maturity-model-microsoft365-ps-enhancing-brand-management/copilot-starter-2024.png
  Community/media/maturity-model-microsoft365-ps-enhancing-brand-management/custom-theme.png
  Community/media/maturity-model-microsoft365-ps-enhancing-brand-management/email-signature.png
  Community/media/maturity-model-microsoft365-ps-enhancing-brand-management/maturity-levels.png
  Community/media/maturity-model-microsoft365-ps-enhancing-brand-management/organization-templates.png
  Community/microsoft365-maturity-model--management-of-content.md
  Community/teams-shared-channel-for-admins.md
  Community/understanding-where-tenant-display-name-is-used.md
Labels: Microsoft submitter, microsoft-365/svc, sharepoint-online/svc, msteams/svc, outlook/svc

#1020 Update microsoft-365-search-technologies.md
  Community/microsoft-365-search-technologies.md
Labels: microsoft-365/svc, In review, Sign off

#1029 publish main to live, 2/25/25, 3:30 pm
  Community/microsoft-365-search-technologies.md
Labels: Microsoft submitter, microsoft-365/svc
