Repository MicrosoftDocs/microsoft-365-community, pull requests merged in 2025-01, with the labels that each got.

#1009 Update microsoft365-maturity-model--infrastructure.md
  Community/microsoft365-maturity-model--infrastructure.md
Labels: o365-solutions/svc, In review, Sign off, PubOps fixes

#1010 Update microsoft365-maturity-model--employee-experience.md
  Community/microsoft365-maturity-model--employee-experience.md
Labels: microsoft-365/svc, In review, Sign off, PubOps fixes

#1011 Published main to live, Tuesday 10:30 AM PST, 01/21
  Community/microsoft365-maturity-model--employee-experience.md
  Community/microsoft365-maturity-model--infrastructure.md
Labels: Microsoft submitter, microsoft-365/svc, o365-solutions/svc
